<!DOCTYPE html>
<html>
  <head>
    <title>Fonix2faApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
  <div class="container">
    <%  params[:flash].each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end  if params[:flash] %>
    <%= yield %>
  </div>

  </body>
  </head>
</html>
